.emoji-selector-icon {
  width: 40px;
  position: relative;
  height: 48px;
}
.start-typing {
  height: 20px;
  width: 520px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.start-typing-wrapper {
  align-self: stretch;
  width: 520px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0px;
  box-sizing: border-box;
}
.mention-icon {
  position: absolute;
  top: 16px;
  right: 44px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.paper-airplane-icon {
  position: absolute;
  top: 16px;
  right: 12px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.mention-parent {
  width: 72px;
  position: relative;
  height: 48px;
}
.footer {
  width: 656px;
  box-shadow: var(--border-shadow-top);
  background-color: var(--white-white);
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  color: var(--text-gray);
}
.hi-i-noticed {
  width: 494px;
  position: absolute;
  margin: 0 !important;
  top: -15px;
  right: -56px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.text {
  height: 40px;
  width: 628px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.body {
  margin-left: -178px;
  width: 706px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  transform: rotate(180deg);
  max-width: 100%;
}
.message-frame1 {
  width: 1016px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0px var(--padding-11xs);
  box-sizing: border-box;
  transform: rotate(180deg);
  flex-shrink: 0;
  max-width: 196%;
}
.bubble-right {
  position: absolute;
  top: 126px;
  left: 68px;
  border-radius: 0px var(--br-7xs) var(--br-7xs) 0px;
  background-color: var(--gray-gray1);
  width: 521px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px var(--padding-9xs) 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.header-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--white-white);
  z-index: 0;
}
.team-unicorns {
  width: 118px;
  height: 18px;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
}
.last-seen-45 {
  position: relative;
  font-size: var(--font-sizes-text-xs-size);
  color: var(--text-gray);
  display: none;
}
.message-participants {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  z-index: 1;
}
.avatar-group-icon {
  width: 84px;
  position: relative;
  height: 26px;
  display: none;
  z-index: 2;
}
.kebab-horizontal-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.header {
  height: 68px;
  width: 656px;
  box-shadow: var(--border-shadow-bottom);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xl) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  text-align: left;
  font-size: var(--font-weights-text-semibold-size);
  color: var(--text-graydark);
  font-family: var(--font-sizes-text-xs);
}
.order-no-4354786752321 {
  text-decoration: none;
  height: 33px;
  position: relative;
  font-weight: 500;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.order-no-435478675232-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) 0px 0px;
  margin-left: -441px;
}
.header-elements {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.separator1 {
  flex: 1;
  position: relative;
}
.header-separator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 296px 0px 297px;
  font-size: var(--font-sizes-text-xs-size);
  color: var(--text-gray);
  font-family: var(--font-sizes-text-xs);
}
.header-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.top-vector-tip-icon {
  position: absolute;
  top: 0px;
  left: 5.8px;
  width: 8.7px;
  height: 11.1px;
  transform: rotate(-180deg);
}
.top-rectangle {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--gray-gray1);
  width: 6px;
  height: 12px;
  z-index: 1;
}
.bubble-tip {
  width: 15px;
  height: 12px;
  position: relative;
  transform: rotate(180deg);
}
.bottom-curve-rectangle {
  width: 6px;
  flex: 1;
  position: relative;
  background-color: var(--gray-gray1);
}
.bottom-curve-vector-icon {
  width: 6px;
  height: 7px;
  position: relative;
  object-fit: contain;
}
.message-time-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.am11 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 51px;
}
.time {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0px 0px;
}
.time-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 6px;
}
.message-time-elements {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.message-time-elements-wrapper {
  width: 629px;
  height: 73px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 53px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-sizes-text-xs-size);
  color: var(--text-gray);
  font-family: var(--font-sizes-text-xs);
}
.order-header1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
  max-width: 100%;
  height: 100%;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.short-message {
  align-self: stretch;
  height: 199px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-weights-text-semibold-size);
  color: var(--text-graydark);
  font-family: var(--font-inter);
}
.avatar-url-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.toyfaces-colored-bg-29-1-icon {
  position: absolute;
  top: 13px;
  left: 16px;
  width: 1px;
  height: 1px;
  object-fit: cover;
}
.avatar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.online-indicator {
  position: absolute;
  top: 22px;
  left: 22.1px;
  border-radius: 50%;
  background-color: var(--green-green5);
  border: 0px solid var(--white-white);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  display: none;
}
.avatar-with-online-indicator {
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
}
.hello-thank-you {
  margin: 0;
}
.hi-there-my-container1 {
  width: 100%;
}
.hi-there-my-container {
  width: 307px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.spacer {
  align-self: stretch;
  position: relative;
  background-color: var(--color-slateblue-100);
  height: 1px;
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.am12 {
  height: 14px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.receipt-icon {
  height: 8px;
  width: 16px;
  position: relative;
  transform: rotate(-180deg);
}
.receipt-time-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.timeread-receipt {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-sizes-text-xs-size);
  font-family: var(--font-sizes-text-xs);
}
.body1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  transform: rotate(180deg);
}
.message-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transform: rotate(180deg);
}
.bubble-right1 {
  border-radius: var(--br-7xs) 0px 0px var(--br-7xs);
  background-color: var(--color-slateblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px var(--padding-9xs) var(--padding-5xs);
}
.top-vector-tip-icon1 {
  position: absolute;
  top: 0px;
  left: 5.8px;
  width: 8.7px;
  height: 11.1px;
}
.top-rectangle1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-slateblue-100);
  width: 6px;
  height: 12px;
}
.bubble-tip1 {
  width: 15px;
  position: relative;
  height: 12px;
}
.bottom-curve-rectangle1 {
  width: 6px;
  flex: 1;
  position: relative;
  background-color: var(--color-slateblue-100);
}
.bottom-curve-vector-icon1 {
  width: 6px;
  height: 7px;
  position: relative;
}
.bubble-left {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.message-bubbleself {
  height: 159px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.agent-message {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-base);
  text-align: left;
  font-size: var(--font-weights-text-semibold-size);
  color: var(--white-white);
  font-family: var(--font-inter);
}
.avatar-url-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.avatar1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: none;
}
.online-indicator1 {
  position: absolute;
  top: 22px;
  left: 22.1px;
  border-radius: 50%;
  background-color: var(--green-green5);
  border: 1.3px solid var(--white-white);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  display: none;
}
.avatar-with-online-indicator1 {
  width: 32px;
  position: relative;
  height: 32px;
}
.top-rectangle2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--gray-gray1);
  width: 6px;
  height: 12px;
}
.bubble-tip2 {
  width: 15px;
  position: relative;
  height: 12px;
  transform: rotate(180deg);
}
.bubble-left1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.name {
  height: 18px;
  width: 24px;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.role {
  height: 14px;
  width: 67px;
  position: relative;
  font-size: var(--font-sizes-text-xs-size);
  color: var(--text-gray);
  display: flex;
  align-items: center;
}
.sender {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  transform: rotate(180deg);
}
.im-down-any {
  width: 148px;
  height: 80px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.spacer1 {
  align-self: stretch;
  position: relative;
  background-color: var(--gray-gray1);
  height: 1px;
}
.am13 {
  position: relative;
  font-weight: 300;
}
.time1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-sizes-text-xs-size);
  color: var(--text-gray);
  font-family: var(--font-sizes-text-xs);
}
.body2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  transform: rotate(180deg);
  font-family: var(--font-inter);
}
.message-frame3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-9xs);
  transform: rotate(180deg);
}
.bubble-right2 {
  border-radius: 0px var(--br-7xs) var(--br-7xs) 0px;
  background-color: var(--gray-gray1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs) 0px;
}
.message-bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.message-bubbleother {
  height: 99px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.message-bubbleother-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mid);
}
.imageseqlje20240105154631-1-icon1 {
  height: 127px;
  width: 136px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.image-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-base);
}
.name1 {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  display: none;
}
.im-down-any1 {
  width: 148px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.message-bubbleother1 {
  height: 139px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.message-frame {
  width: 656px;
  box-shadow: var(--border-shadow-left);
  border-radius: var(--br-mini);
  background-color: var(--white-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 141px;
  box-sizing: border-box;
  gap: 24px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-weights-text-semibold-size);
  color: var(--text-graydark);
  font-family: var(--font-sizes-text-xs);
}

@media screen and (max-width: 629px) {
  .message-time-elements-wrapper {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 328px) {
  .header-separator {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
